.card-item {
  margin-top: 100px;
}

.card-item img {
  min-height: 210px;
}

h5 {
  text-align: center;
}

a {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.card:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/*# sourceMappingURL=home.css.map */