* {
    box-sizing: border-box;
}


.content-wrapper {
    padding: 20px;
    height: 100vh;
    margin-bottom: 10px;
    /* overflow-y: scroll; */
    /* min-height: 70vh !important; */
}



/* body {
    overflow: hidden;
} */
